/* Header/Logo Title */
body {
  padding: 0%;
  margin: 0%;
}
i {
  font-size: 1.5em;
}
.border-b {
  border-top: 1px solid #a09e9e;
}
a {
  text-decoration: none;
}
.header {
  padding: 60px;

  text-align: center;
  background: #f8fcf9;
  color: rgb(133, 128, 128);
  font-size: 30px;
  text-transform: uppercase;
}

.card-header{
  text-transform: uppercase;
}
